
{%block content %}
 <form method="post" action="">
     {% csrf_token %}



     <h1>Crear cuenta</h1>
              <div>
               <input type="text" class="form-control" name="first_name" placeholder="Nombre" required="" />
             </div>

             <div>
               <input type="text" class="form-control" name="last_name" placeholder="Apellidos" required="" />
             </div>
             <div>
               <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required=""/>
             </div>
             <div>
               <input type="email" class="form-control" name="email" placeholder="Email" required="" />
             </div>
             <div>
               <input type="password" class="form-control" name="password1" placeholder="Contraseña" required="" />
             </div>
              <div>
               <input type="password" class="form-control" name="password2" placeholder="Confirmar contraseña" required="" />
             </div>

              <p class="change_link">Eres Usuario?
                 <a href="loginUsuario.html" class="to_register"> Iniciar sesion</a>
               </p>


                    <button type="submit"> Guardar</button>

           </form>
       {% endblock %}